@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Black : #09090b
White :#fafafa
grey:#27272a
Lite grey :#64646a     
Gray white :#f4f4f5

Utility colors: 
red:#e11d48
 Blue: #2563eb
Green :#16a34a
Light Green :: #adfa1d
Orange :#16a34a */
